databricks-sql-connector>=3.5.0, <4.0
git+https://github.com/dbt-labs/dbt-adapters.git@main
git+https://github.com/dbt-labs/dbt-core.git@main
git+https://github.com/dbt-labs/dbt-common.git@main
git+https://github.com/dbt-labs/dbt-spark.git@main
databricks-sdk==0.17.0
keyring>=23.13.0
protobuf>=5.0.0,<6.0.0
pydantic>=1.10.0, <2
