# Server Hostname value
DBT_DATABRICKS_HOST_NAME=

# Server http-path value
DBT_DATABRICKS_HTTP_PATH=

## Also able to set the http-path values for each profile
## Server http-path value for `databricks-cluster` profile
# DBT_DATABRICKS_CLUSTER_HTTP_PATH=
## Server http-path value for `databricks-sql-endpoint` profile
# DBT_DATABRICKS_ENDPOINT_HTTP_PATH=
## Server http-path value for `databricks-uc-cluster` profile
# DBT_DATABRICKS_UC_CLUSTER_HTTP_PATH=
## Server http-path value for `databricks-uc-sql-endpoint` profile
# DBT_DATABRICKS_UC_ENDPOINT_HTTP_PATH=

# personal token
DBT_DATABRICKS_TOKEN=

# users for testing 'grants' functionality
DBT_TEST_USER_1=
DBT_TEST_USER_2=
DBT_TEST_USER_3=
